{% unless collection_image_size %}
  {%- assign collection_image_size = '340x340' -%}
{% endunless %}
{%- assign collection_image_scale = '2' -%}

{% if collection.image %}
  {% capture collection_image_url %}{{ collection | img_url: collection_image_size, scale: collection_image_scale, crop: 'top' }}{% endcapture %}
{% elsif collection.products.first and collection.products.first.images != empty %}
  {% capture collection_image_url %}{{ collection.products.first | img_url: collection_image_size, scale: collection_image_scale, crop: 'top' }}{% endcapture %}
{% else %}
  {% assign collection_image_url = blank %}
{% endif %}

<div class="brand text-center">
  <a href="{% if collection.products == empty %}#{% else %}{{ collection.url }}{% endif %}" class="brand-img-box">

      {% unless collection_image_url == blank %}
    <div class="img-box  text-center   align-items-center"
         style="background-image: url({{ collection_image_url }})"></div>
      {% endunless %}

  </a>
    {% if collection.title == blank %}
    {{ 'homepage.onboarding.collection_title' | t }}
    {% else %}
      <div class="brand-title-box">
        <a href="{% if collection.products == empty %}#{% else %}{{ collection.url }}{% endif %}" class="black-text  brand-title">{{ collection.title }}</a>
      </div>
    {% endif %}
</div>




