<!doctype html>
<!--[if IE 9]>
<html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_button }}">
    <link rel="canonical" href="{{ canonical_url }}">

    {% if settings.favicon != blank %}
        <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {% endif %}

    <title>
        {{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}
    </title>

    {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% include 'social-meta-tags' %}

    {% include 'google-fonts' %}
    <!-- css -->
    {%- include 'header-css' -%}

    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

    <!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->

    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]>
    <script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]>
    <script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="{{ 'password.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]>
    <script src="{{ 'password.js' | asset_url }}"></script><![endif]-->

    {{ content_for_header }}
</head>

<body class="template-password">
<div class="wrapper">
    <main class="main">
        <div class="container">
            <div class="row">
                <div class="col-6 m-auto text-center">

                    <div class="password-main text-center" role="main">
                        <div class="password-main__inner mb-5">
                            {{ content_for_layout }}
                        </div>
                    </div>

                    {% form 'storefront_password' %}
                        {{ form.errors | default_errors }}
                        <label for="password"
                               class="label--hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
                        <div class="form-group">
                            <input type="password" name="password" id="Password"
                                   class="form-control"
                                   placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
                        </div>
                        <button type="submit" name="commit" class="btn btn--narrow">
                            <span> {{ 'general.password_page.login_form_submit' | t }}</span>
                        </button>
                    {% endform %}


                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>
